<app-narvar></app-narvar>



<head>
   Unidad 
</head>

<body>
    <img src="../../../assets/img/1.jpeg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">

   
        <h2 class="mt-4">{{ unidad.NombrePropiedad }}</h2>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Fotos</h3>
                        <!-- Resto de tu contenido -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Tipo de Unidad</h3>
                        <p>{{ unidad.TipoPropiedad }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Precio</h3>
                        <p>El precio de la unidad es en Pesos Mexicanos</p>
                        <p>$ {{ unidad.PrecioPorNoche }} Mx</p>
                        <button>Comprar</button>
                        <div #paypal></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>Anfitrión:</h3>
                        <p> Datos del Usuario</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Descripción</h3>
                        <p>{{ unidad.Descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
   
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 Terreneitor. Todos los derechos reservados.</p>
    </footer>
</body>

