<app-narvar></app-narvar>
<h2 class="mt-4">Unidad</h2>



<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Fotos</h3>
      
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Servicios</h3>
                
            </div>
        </div>
    </div>
</div>
</div>


<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Precio por noche</h3>
                <p>
                    <input type="text" id="precio" class="form-control" placeholder="$495 MXN">
                </p>
              
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Disponibilidad</h3>
               
            </div>
        </div>
    </div>
</div>


<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Anfitrión:</h3>
                <p> Datos del Usuario</p>
             
            </div>
        </div>
    </div>



<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Descripción</h3>
                <textarea id="descripcion" class="form-control" rows="4" cols="50">Hermosa casa estilo mexicano </textarea>
            </div>
        </div>
    </div>
</div>




