<app-narvar></app-narvar>

<img src="../../../assets/img/fondo.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">

<div class="background-container">
    <section class="container tarjetas-section">

        <div class="row justify-content-center">

            <!-- Tarjetas en la primera fila -->
            <div class="col-md-4">
                <a routerLink="/usuario_informacionPersonal">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Información personal</h5>
                            <p class="card-text">Administra tu información personal y de seguridad</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a routerLink="/administar-unidad">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Propiedades</h5>
                            <p class="card-text">Administra las propiedades en tu poder</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a routerLink="/agregar-unidad">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Agregar Unidad</h5>
                            <p class="card-text">Administra pagos, cobros y formas de pago</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Tarjetas en la segunda fila -->
            <div class="col-md-4">
                
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <br>
                           
                        </div>
                    </div>
        
            </div>

            <br>
            <br>

            <div class="col-md-4">
                <a routerLink="/procesos">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Procesos (Resivos)  </h5>
                            <p class="card-text">Administra pagos y recibos</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
               
                    <div class="card">
                        <div class="card-body">
                            <br>
                            <br>
                        </div>
                    </div>
              
            </div>

        </div>
    </section>
</div>

<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 Terreneitor. Todos los derechos reservados.</p>
</footer>
