<app-narvar></app-narvar>

<h1 class="mt-3">Agregar Unidad</h1>

<div class="container">
  <!-- Nombre de la unidad -->
  <h2 class="mt-4">Nombre de la unidad</h2>
  <input type="text" class="form-control" placeholder="Nombre de la Unidad" [(ngModel)]="unida.NombrePropiedad">
  
  <!-- Información de alojamiento -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>Fotos</h3>
          <!-- Agrega aquí tu código para mostrar fotos -->
        </div>
      </div>
    </div>
    

  <!-- Precios y disponibilidad -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>Precio</h3>
          <input type="text" class="form-control" placeholder="$495 MXN" [(ngModel)]="unida.PrecioPorNoche">
        </div>
      </div>
    </div>
  </div>

  <!-- Descripción del alojamiento -->
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3>Descripción</h3>
          <textarea class="form-control" rows="3" placeholder="Descripción" [(ngModel)]="unida.Descripcion"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>Dueño</h3>
          <p>Información del usuario precargada</p>
          <!-- Agrega más detalles sobre el anfitrión aquí si es necesario -->
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3>Dirección</h3>
          <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="unida.DireccionID">
          <p>Mapa implementado con API</p>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  
  <button class="btn btn-primary" (click)="saveNewUnidad()">Guardar</button>
</div>
