
<app-narvar></app-narvar>

<img src="../../../assets/img/fondo.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">

<div class="background-container">
  <section class="container tarjetas-section">
    <h1 class="mt-3">Agregar Unidad</h1>
    <div class="container">
      <form #unidadForm="ngForm"> <!-- Agregamos un formulario con una referencia a "unidadForm" -->
        <!-- Nombre de la unidad -->
        <h2 class="mt-4">Nombre de la unidad</h2>
        <input type="text" class="form-control" placeholder="Nombre de la Unidad" [(ngModel)]="unida.NombrePropiedad" name="NombrePropiedad">
        
        <!-- Precios y disponibilidad -->
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h3>Precio</h3>
                <input type="text" class="form-control" placeholder="$495 MXN" [(ngModel)]="unida.PrecioPorNoche" name="PrecioPorNoche">
              </div>
            </div>
          </div>
        </div>

        <!-- Descripción del alojamiento -->
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h3>Descripción</h3>
                <textarea class="form-control" rows="3" placeholder="Descripción" [(ngModel)]="unida.Descripcion" name="Descripcion"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h3>Dueño</h3>
                <p>Información del usuario precargada</p>
                <!-- Agrega más detalles sobre el anfitrión aquí si es necesario -->
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h3>Dirección</h3>
                <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="unida.DireccionID" name="DireccionID">
                <p>Mapa implementado con API</p>
              </div>
            </div>
          </div>
        </div>

        <br>

        <button class="btn btn-primary" (click)="saveNewUnidad()" [disabled]="!unidadForm.valid">Guardar</button>
      </form>
    </div>
  </section>
</div>

<footer class="bg-dark text-white text-center py-3">
  <p>&copy; 2023 Terreneitor. Todos los derechos reservados.</p>
</footer>