<app-narvar></app-narvar>


<section class="container tarjetas-section">
    <div class="mt-4">

        <div class="row">
          <div class="col-lg-16">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="path_to_user_avatar.jpg" alt="Usuario" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
                <h5 class="card-title">//Nombre//</h5>
                <p class="card-text">//Ubicaion//</p>
              </div>
            </div>
          </div>
    


    <div class="row justify-content-center">
        
        
        <!-- Las últimas tres tarjetas ahora están en el centro de la página -->
        <div class="col-md-4">
            <a routerLink="/usuario_informacionPersonal"> <!-- Cambia "/3" según la ID del lugar -->
                <div class="card">
                    <img src="imagen1.jpg" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">Información personal</h5>
                        <p class="card-text">Administra tu información personal y de seguridad </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a routerLink="/administar-unidad"> <!-- Cambia "/3" según la ID del lugar -->
                <div class="card">
                    <img src="imagen1.jpg" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">Propiedades</h5>
                        <p class="card-text">Administra las propiedades en tu poder</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a routerLink="/pagos"> <!-- Cambia "/3" según la ID del lugar -->
                <div class="card">
                    <img src="imagen1.jpg" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">Pagos y cobros</h5>
                        <p class="card-text">Administra pagos, cobros y formas de pago                    </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Separación entre las dos grupos de tarjetas -->
    <div class="row">
        <div class="col-md-12">
            <br> <!-- Agrega aquí cualquier elemento de separación que necesites -->
        </div>
    </div>

    <!-- Las primeras tres tarjetas -->
    <div class="row">
        <div class="col-md-4">
            <a routerLink="/info-unidad"> <!-- Cambia "/1" según la ID del lugar -->
                <div class="card">
                    <img src="imagen1.jpg" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">Documentos</h5>
                        <p class="card-text">Administracion los datos y documentos legales  </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a routerLink="/detalle-lugar/2"> <!-- Cambia "/2" según la ID del lugar -->
                <div class="card">
                    <img src="imagen1.jpg" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">Notificaiones</h5>
                        <p class="card-text">Descripción del lugar y características.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a routerLink="/detalle-lugar/3"> <!-- Cambia "/3" según la ID del lugar -->
                <div class="card">
                    <img src="imagen1.jpg" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">Procesos</h5>
                        <p class="card-text">Administra los procesos de venta y reservas</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

