<app-narvar></app-narvar>

<img src="../../../assets/img/1.jpeg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">

<div class="background-container">
   
    <section class="container tarjetas-section">

  <section class="container tarjetas-section">
    <div class="mt-4">
      <div class="row">
        <div class="col-lg-16">
          <div class="card mb-4">
            <section class="container tarjetas-section">
              <div class="mt-4">
                <div class="row">
                  <div class="col-lg-16">
                    <div class="card mb-4">
                      <div class="card-body text-center">
                        <img [src]="images[0]" style="width: 150px; height: 150px;"> <!-- Muestra la primera imagen -->
                        <h5 class="card-title">{{ usuario.Nombre }}</h5>
                        <p class="card-text">{{ usuario.Apellido }}</p>
                        <p class="card-text">{{ usuario.CorreoElectronico }}</p>
                        <p class="card-text">{{ usuario.NumeroTelefono }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Las últimas tres tarjetas ahora están en el centro de la página -->
      <div class="col-md-4">
        <a routerLink="/usuario_informacionPersonal">
          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Información personal</h5>
              <p class="card-text">Administra tu información personal y de seguridad</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="/administar-unidad">
          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Propiedades</h5>
              <p class="card-text">Administra las propiedades en tu poder</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a routerLink="/agregar-unidad"> <!-- Cambia "/3" según la ID del lugar -->
          <div class="card">
           
            <div class="card-body">
              <h5 class="card-title">Agregar Unidad</h5>
              <p class="card-text">Administra pagos, cobros y formas de pago</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

    </section>
</div>
 

<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 Terreneitor. Todos los derechos reservados.</p>
  </footer>

