<app-narvar></app-narvar>
<html>
<head>
  <title>Terreneitor</title>

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-18">
        <h1 class="display-4">Descubre lugares</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let unidad of unidades">
          <a (click)="guardarIDEnVariableGlobal(unidad.ID)">
            <div class="card">
              <img src="../../../assets/img/cargando.jpg" class="card-img-top" [alt]="unidad.nombre">
              <div class="card-body">
                <h5 class="card-title">{{ unidad.ID }}</h5>
                <h5 class="card-title">{{ unidad.NombrePropiedad }}</h5>
                <p class="card-text">{{ unidad.Descripcion }}</p>
                <button (click)="guardarIDEnVariableGlobal(unidad.ID)"> Explorar </button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    
<footer class="bg-dark text-white text-center py-3">
  <p>&copy; 2023 Terreneitor. Todos los derechos reservados.</p>
</footer>

