<app-narvar></app-narvar>
<html>
<head>
  <title>Terreneitor</title>
 
</head>
<body>
  <main>
    <section class="jumbotron">
      
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="display-4">Descubre lugares</h1>
            <form>
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <input type="text" class="form-control" placeholder="Destino">
                </div>
                <div class="col-md-2 mb-2">
                  <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">

            <app-cargando-mapa *ngIf="!localizacionListo; else mapaListo"></app-cargando-mapa>
    

            <ng-template #mapaListo>
              <app-mapa-vista></app-mapa-vista>
            </ng-template>
          </div>
        </div>
      </div>
      

    </section>

    <div class="col-md-4" *ngFor="let unidad of unidades">
      <a  (click)="guardarIDEnVariableGlobal(unidad.ID)">
      
      
        <div class="card">
          <img [src]="unidad.imagenUrl" class="card-img-top" [alt]="unidad.nombre">
          <div class="card-body">
            <h5 class="card-title">{{ unidad.ID }}</h5>
            <h5 class="card-title">{{ unidad.NombrePropiedad }}</h5>
            <p class="card-text">{{ unidad.Descripcion }}</p>
            <button (click)="guardarIDEnVariableGlobal(unidad.ID)"> Explorar </button>
          </div>
        </div>
      </a>
    </div>
    
   