<app-narvar></app-narvar>

<head>
    <title>Terreneitor</title>
</head>
<body>
   

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
          
            <form>
                <div class="form-group">
                    <label for="nombreLegal">Nombre legal (Nombres)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="nombreLegal" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombreLegal">Nombre legal (Apellidos)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="apellido" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="correoElectronico">Correo electrónico</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="correoElectronico" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="numeroTelefono">Número de teléfono</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" id="numeroTelefono" >
                    </div>
                </div>

            </form>
        </div>
            <div class="col-md-6">
                <div class="user-info">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="path_to_user_avatar.jpg" alt="Usuario" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
                            <h5 class="card-title">Nombre de usuario</h5>
                            <p class="card-title">{{ usuario.username }}</p>
                            <h5 class="card-title">Numero de identificacion</h5>
                            <p class="card-title">{{usuario.ID}}</p>

                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h5 class="card-text">==Datos==</h5>
                            <p class="card-text ">{{ usuario.Nombre }} </p>
                            <p class="card-text">{{ usuario.Apellido }}</p>
                            <p class="card-text">{{ usuario.CorreoElectronico }}</p>
                            <p class="card-text">{{ usuario.NumeroTelefono }}</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>