
<app-narvar></app-narvar>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tu Página</title>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h4>Información personal</h4>
                <form>
                    <div class="form-group">
                        <label for="nombreLegal">Nombre legal</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="nombreLegal" value="Luis Rodriguez">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-link ml-auto">Editar</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="correoElectronico">Correo electrónico</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="correoElectronico" value="h***p@gmail.com">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-link ml-auto">Editar</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numeroTelefono">Número de teléfono</label>
                        <div class="input-group">
                            <input type="tel" class="form-control" id="numeroTelefono" value="+1234567890">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-link ml-auto">Editar</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="nombreLegal">Nombre legal</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="dirrecio" value="Luis Antonio Portillo #38">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-link ml-auto">Editar</button>
                            </div>
                        </div>
                    </div>
                    <!-- Resto de los campos con el mismo patrón -->
                </form>
            </div>
            <div class="col-md-6">
                <div class="user-info">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="path_to_user_avatar.jpg" alt="Usuario" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
                            <h5 class="card-title">//Nombre//</h5>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <p class="card-text">//Datos//</p>
                            <p class="card-text">//Ubicación//</p>
                            <p class="card-text">//Correo Electrónico//</p>
                            <p class="card-text">//Número de teléfono//</p>
                            <p class="card-text">//Dirección//</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</body>

